* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  /* font-family: 'Playpen Sans'; */
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
html, body {
  overflow-x: hidden;
  /* overscroll-behavior: none; */
}
body::-webkit-scrollbar {
  width: 8px !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #737373 !important;
  border-radius: 10px !important;
}
body::-webkit-scrollbar-track {
  background-color: #292929 !important;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4f4f4f !important;
}
.main {
  height: 1000vh;
  width: 100vw;
  position: relative;
}
nav {
  width: 100vw;
  /* min-height: 44px; */
  /* height: 2.95vmax; */
  height: 44px;
  background-color: rgba(22, 22, 23, .8);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content:center;
  align-items: center;
}
.nav {
  width: 100vw;
  min-height: 44px;
  height: 2.95vmax;
  background: repeating-linear-gradient(#1d1d1f 45%, #ffffff, #1d1d1f 45%);
  filter: opacity(94%);
  z-index: 500;
  position: absolute;
}
.nav-main {
  width: 67vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper{
  width: 30px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
  height: 100%;
}
.logo svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.Store-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Store a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.Mac-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mac {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Mac a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.iPad-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iPad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.iPad a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.iPhone-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.iPhone a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.Watch-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Watch a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.AirPods-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AirPods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.AirPods a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.TV-Home-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TV-Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.TV-Home a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.Entertainment-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Entertainment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Entertainment a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.Accessories-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Accessories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Accessories a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.Support-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Support {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.Support a {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  white-space: nowrap;
}
.find-wrapper{
  width: 31px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find {
  width: 100%;
  height: 100%;
}
.find svg {
  width: 100%;
  height: 100%;
}
.bag-wrapper{
  width: 30px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bag {
  width: 100%;
  height: 100%;
}
.bag svg {
  width: 100%;
  height: 100%;
}























/*Responsive*/

/*Small devices with screen less then 833  */
@media only screen and (max-width: 833px) {
  nav, .nav {
    /* min-height: 48px;
    height: 5.64vmax; */
    height: 48px;
  }
  .logo-wrapper{
    width: 47px;
    height: 100%;
    padding: 0 16px;
  }
  .find-wrapper {
  width: 48px;
  height: 100%;
  padding: 0 16px;
  }
  .bag-wrapper {
  width: 48px;
  height: 100%;
  padding: 0 16px;
  }
  .nav-links{
    display: none;
  }
}
/*Small devices with screen less then 735px  */
@media only screen and (max-width: 735px) {
  nav, .nav {
    /* min-height: 48px;
    height: 5.64vmax; */
    height: 48px;
  }
  .nav-main {
    width: 100%
  }
  .logo-wrapper{
    width: 47px;
    height: 100%;
    padding: 0 16px;
  }
  .find-wrapper {
  width: 48px;
  height: 100%;
  padding: 0 16px;
  }
  .bag-wrapper {
  width: 48px;
  height: 100%;
  padding: 0 16px;
  }
  .nav-links{
    display: none;
  }
  }
