:root {
  --nav-color: rgba(255, 255, 255, 0.8);
  --mobile-nav-height: 0px;
  --nav-height: calc(44px + var(--mobile-nav-height))
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
html,
body {
  overflow-x: hidden;
  /* overscroll-behavior: ; */
}
body::-webkit-scrollbar {
  width: 8px !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #737373 !important;
  border-radius: 10px !important;
}
body::-webkit-scrollbar-track {
  background: transparent !important;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4f4f4f !important;
}
.main {
  height: 1000vh;
  width: 100vw;
  position: relative;
}
nav {
  width: 100vw;
  min-width: 320px;
  height: var(--nav-height);
  background-color: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 100vw;
  height: var(--nav-height);
  background: linear-gradient(#1D1D1F calc(var(--nav-height) - 4px), #fff 0%);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 500;
  position: absolute;
}
.nav-main {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flyout-menu {
  list-style: none;
  width: inherit;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.apple-icon {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.logo-wrapper {
  width: 30px;
  height: var(--nav-height);
  padding: 0 8px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.logo {
  width: 100%;
  height: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  pointer-events: none;
}
.logo svg {
  width: inherit;
  height: inherit;
  pointer-events: none;
}
.logo svg path {
  fill: var(--nav-color);
}
.alt-text {
  width: 1px;
  height: 100%;
  margin-inline-start: 4px;
  pointer-events: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
}
.nav-lists {
  width: auto;
  height: 100%;
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
}
.nav-item-1 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
  pointer-events: auto; /* Enable pointer events on the parent */
}
.nav-store {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  /* pointer-events: none; */
}
.Store-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.Store-wrapper a {
  pointer-events: none;
}
.Store::before {
  content: "Store";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}

.nav-item-2 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-mac {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.Mac-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.Mac-wrapper a {
  pointer-events: none;
}
.Mac::before {
  content: "Mac";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-3 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-ipad {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.iPad-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.iPad-wrapper a {
  pointer-events: none;
}
.iPad::before {
  content: "iPad";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-4 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-iphone {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.iPhone-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.iPhone-wrapper a {
  pointer-events: none;
}
.iPhone::before {
  content: "iPhone";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-5 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-watch {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.Watch-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.Watch-wrapper a {
  pointer-events: none;
}
.Watch::before {
  content: "Watch";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-6 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-airpods {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.AirPods-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.AirPods-wrapper a {
  pointer-events: none;
}
.AirPods::before {
  content: "AirPods";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-7 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-tv-home {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.TV-Home-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.TV-Home-wrapper a {
  pointer-events: none;
}
.TV-Home::before {
  content: "TV & Home";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-8 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-entertainment {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.Entertainment-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.Entertainment-wrapper a {
  pointer-events: none;
}
.Entertainment::before {
  content: "Entertainment";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-9 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-accessories {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.Accessories-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.Accessories-wrapper a {
  pointer-events: none;
}
.Accessories::before {
  content: "Accessories";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.nav-item-10 {
  list-style: none;
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.nav-support {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.Support-wrapper {
  width: auto;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.Support-wrapper a {
  pointer-events: none;
}
.Support::before {
  content: "Support";
  width: max-content;
  height: 100%;
  color: var(--nav-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
}
.right {
  display: none;
}
.find-icon {
  width: auto;
  height: auto;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.find-wrapper {
  width: 31px;
  height: var(--nav-height);
  padding: 0 8px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.find {
  width: 100%;
  height: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  pointer-events: none;
}
.find svg {
  width: inherit;
  height: 100%;
  pointer-events: none;
}
.find svg path {
  fill: var(--nav-color);
}
.bag-icon {
  width: auto;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: inherit;
}
.bag-wrapper {
  width: 30px;
  height: 100%;
  padding: 0 8px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.bag {
  width: 100%;
  height: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  pointer-events: none;
}
.bag svg {
  width: inherit;
  height: inherit;
  pointer-events: none;
}
.bag svg path {
  fill: var(--nav-color);
}
.hamburger-icon {
  width: 48px;
  height: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
  pointer-events: none;
}
.bar::before,
.bar input {
  content: "";
  height: 1px;
  width: 18px;
  background: var(--nav-color);
  border-radius: 999px;
}
.bar input {
  appearance: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  pointer-events: none;
}

.bar input:checked {
  background-color: #25ce5b;
}


/* Body */

/* .container {
  height: ;
} */












/*Responsive*/

/*Small devices with screen less then 833  */
@media only screen and (max-width: 833px) {
  :root {
    --mobile-nav-height: 4px;
  }
  .logo-wrapper {
    width: 47px;
    height: 100%;
    padding: 0 16px;
  }
  .find-wrapper {
    width: 48px;
    height: calc((--nav-height) - 1px);
    padding: 0 16px;
  }
  .bag-wrapper {
    width: 48px;
    height: var(--nav-height);
    padding: 0 16px;
  }
  .nav-links {
    display: none;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/*Small devices with screen less then 735px  */
@media only screen and (max-width: 735px) {
  nav,
  :root {
    --mobile-nav-height: 4px;
  }
  .nav-main {
    width: 100%;
  }
  .logo-wrapper {
    width: 47px;
    height: 100%;
    padding: 0 16px;
  }
  .find-wrapper {
    width: 48px;
    height: calc((--nav-height) - 1px);
    padding: 0 16px;
  }
  .bag-wrapper {
    width: 48px;
    height: var(--nav-height);
    padding: 0 16px;
  }
  .nav-links {
    display: none;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
